@import "common.css";
@keyframes show_up {
    from {
        opacity: 0.1;
        filter: blur(6px);
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}
h1 {
    color: var(--white);
}

.grid-box {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "n1 n2 n3 n4"
        "n12 n13 n13 n5"
        "n11 n13 n13 n6"
        "n10 n9 n8 n7";
}

.grid-box .item {
    background: var(--white);
    transition: all 0.5s;
    width: auto;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.4);
}

.grid-box .item:hover {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
}

.grid-box .item img {
    height: 60px;
    width: auto;
}

.n1 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    grid-area: n1;
}
.n2 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    grid-area: n2;
}
.n3 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    grid-area: n3;
}
.n4 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
    grid-area: n4;
}
.n5 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    grid-area: n5;
}
.n6 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
    grid-area: n6;
}
.n7 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.7s;
    grid-area: n7;
}
.n8 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    grid-area: n8;
}
.n9 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 0.9s;
    grid-area: n9;
}
.n10 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 1s;
    grid-area: n10;
}
.n11 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 1.1s;
    grid-area: n11;
}
.n12 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
    grid-area: n12;
}
.n13 {
    animation: show_up forwards;
    animation-duration: 0.5s;
    animation-delay: 1.3s;
    grid-area: n13;
}
.item.n13 img {
    height: 100px;
}
