@import "common.css";


@keyframes firstApeerText {
    from {
        opacity: 0;
        font-size: 1.5rem;
        transform: translateY(-50px);
        background-size: 10% 3px;
    }
    to {
        opacity: 1;
        font-size: 2rem;
        background-size: 40% 3px;
        transform: translateX(0px);
    }
}

.my-name {
    text-align: center;
    position: relative;
    color: var(--white);
    width: fit-content;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px 15px;
    background-size: 40% 5px;
    background-position: bottom 0px right 0px;
    background-repeat: no-repeat;
    animation: firstApeerText 0.4s linear;
}

.name-line {
    width: 5%;
    background-color: var(--white);
    height: 6px;
    margin: 0 auto;
    margin-top: 10px;
    transition: width 0.6s;
}

.my-name:hover .name-line {
    width: 85%;
}

.name-container {
    height: calc(100% - var(--nav-bar-height)); /* removing navbar size */
    display: flex;
    justify-content: center;
    align-items: center;
}
